---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello:3</h1>
		<div id="message"></div>
		<button onclick="updatePage()">Atualizar Página</button>
		<script client:load>
			function updatePage() {
				document.getElementById('message').innerHTML = 'A página foi atualizada!';
			}
		</script>
	</body>
</html>
